
@font-face {
    font-family: 'Font'; 
    src: url('C:/Users/User/Downloads/Roboto/static/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Font'; 
    src: url('C:/Users/User/Downloads/Roboto/static/Roboto-Regular.ttf') format('ttf');
    font-weight: 700; 
    font-style: normal;
    font-display: swap;
}

:root {
    --color-primary: #1e6e44;
    --color-secondary: #adb5bd;
    --color-text: #000000;
    --color-background: #f8f9fa;
    --color-light: #ffffff;
    
    --spacing-base: 1rem;
    --border-radius: 0.5rem;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'MyCustomFont', sans-serif; 
    line-height: 1.6;
    color: var(--color-text);
    background-color: var(--color-background);
    padding-top: 8rem; 
}


h1, h2, h3 {
    margin-bottom: var(--spacing-base);
    color: var(--color-primary);
    font-weight: 600;
}

h1 { font-size: 2.5rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }

p {
    margin-bottom: var(--spacing-base);
}


a {
    color: var(--color-primary);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: var(--color-secondary);
    text-decoration: underline;
}

ul, ol {
    margin-bottom: var(--spacing-base);
    padding-left: 2rem;
}

ul li {
    list-style: square;
}